*.apk
*.ap_
.idea/
.DS_Store
.gradle/
*.dex
*.class
app/build
.idea
*.iml
out
gen/
bin/
Rtc555Sdk/Rtc555Sdk/build
Rtc555Sdk/@react-native-community_async-storage/build
Rtc555Sdk/@react-native-community_netinfo/build
Rtc555Sdk/android-jsc-intl-r245459/build
Rtc555Sdk/react-native-0.59.9/build
Rtc555Sdk/react-native-cookies/build
Rtc555Sdk/react-native-device-info/build
Rtc555Sdk/react-native-incall-manager/build
Rtc555Sdk/react-native-vector-icons/build
Rtc555Sdk/react-native-webrtc/build
Rtc555Sdk/react-native-webview/build

.gradle/
build/
Rtc555Sdk/Rtc555Sdk/bintray.gradle
local.properties
Rtc555Sdk/Rtc555Sdk/install.gradle

